.external-section{            
    background-color: white;
    width:80%;
    margin: 30px auto;
    padding:25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
        
.external-section h2{
    color: green;
    text-align: center;
}

.external-section p{
    color: #444;
    font-size: 18px;
    line-height: 1.6;
}

.external-box{
    background-color: lightgreen;
    padding: 20px;
    border-left: 6px solid darkgreen;
    margin-top: 15px;
}